h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.romBold {
    font-weight: bold;
    list-style-type: upper-roman;

}

.winter {
    list-style-image: url("icons/winter_16.png");
}

.spring {
    list-style-image: url("/icons/spring_16.png");
}

.summer {
    list-style-image: url("/icons/summer_16.png");
}

.autumn {
    list-style-image: url("icons/autumn_16.png");
}

li {
    list-style: none;
}


.element {
    padding: 5px 20px; background-color: rgb(35,97,103);
}
